{% extends "index.twig" %}

{# //posiblemete se retire titlepage #}

{% block content %}
    {% block titlepage %}
            
    {% endblock %}

    {% block subtitlepage %}
                <h4>Cargar Giros<small></small></h4>
    {% endblock %}



    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2><small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="form_generar_tickets" target="_blank" method="post" action="{{base_dir_controller}}tickets/generando" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="form_nombre_remitente">Nombre remitente<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input 
                                type="text" 
                                id="tickets_nombre" 
                                name="tickets_nombre" 
                                required="required" 
                                class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="tickets_user_mik">Cedula remitente<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input 
                                type="text" 
                                id="tickets_user_mik" 
                                name="tickets_user_mik" 
                                required="required" 
                                class="form-control">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="form_nombre_remitente">Nombre destinatario<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input 
                                type="text" 
                                id="tickets_nombre" 
                                name="tickets_nombre" 
                                required="required" 
                                class="form-control ">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="tickets_user_mik">Cedula destinatario<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input 
                                type="text" 
                                id="tickets_user_mik" 
                                name="tickets_user_mik" 
                                required="required" 
                                class="form-control">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="form_monto_env">Monto a depositar<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input 
                                type="text" 
                                id="form_monto_env" 
                                name="form_monto_env" 
                                required="required" 
                                class="form-control">
                        </div>
                    </div>
                    
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Tipo de porcentaje<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <div class="radio">
                                <label class="">
                                    <div class="iradio_flat-green" style="position: relative;">
                                    <input 
                                        type="radio" 
                                        class="flat" 
                                        checked="checked" 
                                        name="form_tipo_porcentaje"
                                        value="suma" 
                                        style="position: absolute; opacity: 0;">
                                    <ins 
                                        name="form_radio_porcentaje" 
                                        class="iCheck-helper" 
                                        style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                    </ins>
                                    </div>
                                    Sumado al monto
                                </label>
                            </div>
                            <div class="radio">
                                <label class="">
                                    <div class="iradio_flat-green" style="position: relative;">
                                    <input 
                                        type="radio" 
                                        class="flat"
                                        name="form_tipo_porcentaje"
                                        value="resta" 
                                        style="position: absolute; opacity: 0;">
                                    <ins 
                                        class="iCheck-helper"
                                        name="form_radio_porcentaje" 
                                        style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                    </ins>
                                    </div> 
                                    Restado al monto
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="form_monto_entregar">Monto a entregar<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input 
                                type="text" 
                                id="form_monto_entregar" 
                                name="form_monto_entregar" 
                                readonly=""
                                class="form-control">
                        </div>
                    </div>
                    
                    
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success">Generar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>

        /*form_monto_env.oninput = function(){

            if(form_tipo_porcentaje.value == "resta"){
                form_monto_entregar.value = form_monto_env.value-(form_monto_env.value*0.07);
            }else if(form_tipo_porcentaje.value == "suma"){
                form_monto_env.value = form_monto_entregar.value+(form_monto_entregar.value*0.07);
            }
            
        };*/



        document.getElementsByName('form_radio_porcentaje').forEach(function(a){
            
            a.onclick = function(){
                
                document.getElementsByName('form_tipo_porcentaje').forEach(function(b){

                    if(b.value == "resta" && b.checked){

                        $("#form_monto_env").removeAttr("readonly");
                        $("#form_monto_entregar").attr("readonly","readonly");
                        form_monto_entregar.value = form_monto_env.value-(form_monto_env.value*0.07);
                    
                    }else if(b.value == "suma" && b.checked){

                        $("#form_monto_entregar").removeAttr("readonly");
                        $("#form_monto_env").attr("readonly","readonly");
                        form_monto_env.value = form_monto_entregar.value+(form_monto_entregar.value*0.07);
                    
                    }

                });

            };

        });

        /*form_tipo_porcentaje.onchange = function(){

            if(form_tipo_porcentaje.value == "resta"){
                form_monto_env.disabled = "false";
                form_monto_entregar.disabled = "true";
                form_monto_entregar.value = form_monto_env.value-(form_monto_env.value*0.07);
            }else if(form_tipo_porcentaje.value == "suma"){
                form_monto_env.disabled = "true";
                form_monto_entregar.disabled = "false";
                form_monto_env.value = form_monto_entregar.value+(form_monto_entregar.value*0.07);
            }
        };*/

		function hideshow(){
			var password = document.getElementById("tickets_password_mik");
			var slash = document.getElementById("slash");
			var eye = document.getElementById("eye");
			
			if(password.type === 'password'){
				password.type = "text";
				slash.style.display = "block";
				eye.style.display = "none";
			}
			else{
				password.type = "password";
				slash.style.display = "none";
				eye.style.display = "block";
			}

		}
	</script>
{% endblock %}